<%= form_with url: user_profile_index_url(user_id: @user.id) do |f| %>
    <%= f.label :full_name, class: "form-label"%>
    <%= f.text_area :full_name, class: "form-control" %>
    <%= f.label :location, class: "form-label"%>
    <%= f.text_area :location, class: "form-control" %>
    <%= f.label :age, class: "form-label"%>
    <%= f.number_field :age, class: "form-control"  %>
    <%= f.label :bio, class: "form-label"%>
    <%= f.text_area :bio, placeholder: "Tell us a little about yourself...", class:"form-control" %>
  <div class="d-flex justify-content-end">  
    <%= f.submit 'Save', class:"btn btn-primary"%>
  </div>  
<% end %>
 