<p><b>Name: </b><%= profile.full_name %> </p>
<p><b>Age: </b><%= profile.age %> </p>
<p><b>Location: </b><%= profile.location %> </p>
<p><b>Bio: </b><%= profile.bio %> </p>
<p><b>Joined: </b><%= @user.created_at.strftime("%b %-d, %Y") %> </p>

