<div id="comment_num_<%=comment.id%>" class="ms-2 me-2 ps-3 pe-3">
  
  <span><%= image_tag comment.user.gravatar_url(default: :mm), class:"rounded-circle me-2 gravatar-comment" %>
  <%= link_to comment.user.username, comment.user %>: <%= comment.body %></span>
  <span class="btn btn-xs">
    <%= turbo_frame_tag "comment_#{comment.id}_like_count" do %>
      <%= render partial: "reactions/button", locals: {reactable: comment}  %>
    <% end %>
  </span> 
  <span class="text-nowrap">
    <%= link_to "Reply", new_post_comment_path(post, :parent_id => comment), class:"reply text-secondary text-decoration-none", "data-controller": "turbo" %> 
    <% if comment.user == current_user %>
      <%= link_to post_comment_path(post, comment), class:"ms-2 delete text-secondary text-decoration-none", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <ion-icon name="trash"></ion-icon>
      <% end %> 
    <% end %>   
  </span>
</div>

<div class="ms-4">
  <% comment.comments.each do |nested_comment| %>  
    <%= turbo_frame_tag nested_comment do %>
    <hr class="border border-2 opacity-75">
      <%= render nested_comment, post: post %> 
    <% end %> 
  <% end %>    
</div>


 