<div class="ms-2 me-2 ps-3 pe-3">
  <hr class="border border-2 opacity-75">
  <span><%= image_tag comment.user.gravatar_url(default: :mm), class:"rounded-circle me-2 gravatar-comment" %>
  <%= link_to comment.user.username, comment.user %>: <%= comment.body %></span>
  <span class="btn btn-xs"><%= render partial: "reactions/button", locals: { reactable: comment } %></span> 
  <%= link_to "Reply", new_post_comment_path(post, :parent_id => comment), class:"text-secondary text-decoration-none", "data-controller": "turbo" %> 
  <%= link_to "Delete", post_comment_path(post, comment), class:"text-secondary text-decoration-none", data: { turbo_method: :delete } if comment.user == current_user %>
</div>

<div class="ms-4" id=<%= "nested#{comment.id}" %> >
  <% comment.comments.each do |nested_comment| %>  
    <%= turbo_frame_tag nested_comment do %>
      <%= render nested_comment, post: post %> 
    <% end %> 
  <% end %>    
</div>


 