<%= turbo_stream.update "post_#{@post.id}_comment_count" do %>
  <a class=" text-secondary text-decoration-none" data-bs-toggle="collapse" href="#collapseComment<%= @post.id%>" aria-expanded="true" role="button"> 
    <%= pluralize(@post.comments.size, "Comment") %>
  </a>
<% end %> 

<%= turbo_stream.replace "collapseComment#{@post.id}" do %>
  <div id="collapseComment<%= @post.id %>" class="collapse show">
        <%= render "comments/index", comments: @post.comments.includes(:user).order(created_at: :asc), post: @post %>
      </div>
<% end %>
 