<%= turbo_stream.remove "comment_#{@comment.id}" %>

<%= turbo_stream.update "post_#{@post.id}_comment_count" do %>
  <a class=" text-secondary text-decoration-none" data-bs-toggle="collapse" href="#collapseComment<%= @post.id%>" role="button"> 
    <%= pluralize(@post.comments.size, "Comment") %>
  </a>
<% end %>  

<%= turbo_stream.remove "nested_comment_#{@comment.id}"%>