<% if user.friends.include?(current_user) %>
    <% @friends = user.find_friendship(current_user.id) %>
    <div class="<%=@friends.status%>"> <%= @friends.status %> <%= @friends.friend.username %> </div>
    <% if current_user.received_request?(@friends) && @friends.pending? %>
      <%= button_to 'Accept Request', friendship_path(@friends.id), method: :patch %>
    <% end %>  
    <%= button_to 'Unfriend', friendship_path(@friends.id), method: :delete %>
<% else %>   
  <%= button_to 'Add_friend', [user, user.friendships.new] %>
<% end %>
