<% if current_user.friends.include?(user) %>
    <% @friends = current_user.find_friendship(user.id) %>
  
    <% if current_user.received_request?(user) && @friends.pending? %>
      <div class="d-flex">
        <%= button_to 'Accept', friendship_path(@friends.id), method: :patch, class: "btn btn-success me-2" %>
        <%= button_to 'Decline', friendship_path(@friends.id), method: :delete, class: "btn btn-danger" %>
      </div>
    <% elsif @friends.accepted? %>  
      <div class="d-flex align-items-center text-success">Friend 
        <%= button_to 'Unfriend', friendship_path(@friends.id), method: :delete, class: "btn btn-secondary ms-3" %>
      </div>
    <% else %>
    <div class="d-flex align-items-center text-warning">Pending
      <%= button_to 'Unfriend', friendship_path(@friends.id), method: :delete, class: "btn btn-secondary ms-3" %>  
    </div>  
    <% end %>
<% elsif current_user != user %>   
  <%= render 'add_friend', user: user %>
<% end %>
