<div class="container mt-2">
  <h1 class="text-center">Notifications</h1>

  <%= render 'notifications/empty' if current_user.notifications.none?%>

  <div class="dropdown dropdown-menu-end float-end">
    <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
      Manage Notifications
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Delete All <ion-icon name="trash" class="align-middle"></ion-icon></a></li>
      <li><a class="dropdown-item text-toggle" href="#notification-manager" data-bs-toggle="collapse" aria-expanded="false">
        <span class="text-collapsed">Delete Some</span><span class="text-expanded">All Done</span>
        <ion-icon name="checkbox-outline" class="align-middle"></ion-icon></a></li>
    </ul>
  </div>
  <%= turbo_frame_tag 'new-notifications' do %>
    <% unless @new.empty? %>
      <h3 class="text-decoration-underline new-heading">New</h3>
      <ul class="list-group">
        <%= render @new.includes(:sender, :notifiable) %>
      </ul>
    <% end %>
  <% end %>
  
  <%= turbo_frame_tag 'old-notifications' do %>
    <% unless @old.empty? %>
      <h3 class="text-decoration-underline old-heading">Old</h3>
      <ul class="list-group">
        <%= render @old.includes(:sender, :notifiable) %> 
      </ul>
    <% end %>
  <% end %>

  <% @new.each(&:read) %>
</div>