<div class="row m-3 text-center">
  <% if @user.profile.nil? || @user.profile.full_name.empty? %> 
    <h1 class="display-1"> <%= @user.username %> </h1>
  <% else %>
    <h1 class="display-1"> <%= @user.profile.full_name %> </h1>
    <h3 class="display-3"> <%= @user.username %> </h3> 
  <% end %>
  <div class="d-flex justify-content-center align-content-center">
    <div class="col">
      <p class="pe-2 float-end text-secondary border-end border-dark"> <%= pluralize(@user.friends.count, "Friend") %> </p>
    </div>
    <div class="col">
      <p class="ps-2 float-start text-secondary"> <%= pluralize(@user.posts.count, "Post") %> </p>  
    </div>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#posts">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#friends">Friends</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#about">About</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane container active" id="posts">These are your posts</div>
  <div class="tab-pane container fade" id="friends">
    <% if @user.friends.any? %>
      <% @user.friends.each do |friend| %>
        <%= render 'user', user: friend %>
      <% end %> 
    <% else %>
      <p><em>A stranger is just a friend you haven't met yet.</em>
      <%= link_to "Let's find some!", users_path %> </p>
    <% end %>   
  </div>
  <div class="tab-pane container fade" id="about">
    <% if @user.profile.nil? %>
      <div class="container">
        <h3 class="text-secondary">Feel free to add your profile info.</h3>
        <%= render 'profiles/form', user: @user %> 
      </div>
    <% end %>
  </div>
</div>





