<div class="row m-3 text-center">
  <div class="profile-header rounded-top border border-3 border-bottom-0">  
    <% if @user.profile.nil? || @user.profile.full_name.empty? %> 
      <h1 class="display-1"> <%= @user.username %> </h1>
    <% else %>
      <h1 class="display-1"> <%= @user.profile.full_name %> </h1>
      <h3> <%= @user.username %> </h3>
    <% end %>
    <div class="d-flex justify-content-center align-content-center">
      <div class="col">
        <p class="pe-2 float-end text-secondary border-end border-dark"> <%= pluralize(@num_of_friends, "Friend") %> </p>
      </div>
      <div class="col">
        <p class="ps-2 float-start text-secondary"> <%= pluralize(@user.posts.size, "Post") %> </p>  
      </div>
    </div>
  </div>  
  <div class="profile-header border-3 border-start border-end rounded-bottom container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#posts">Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#about">About</a>
      </li>
    </ul>
  </div>  
</div>

<div class="tab-content">
  <div class="tab-pane container active" id="posts">
    <% if @user.posts.any? %>
      <%= render @user.posts.by_recently_created %>
    <% else %>
      <p><em>There are currently no posts.</em>
    <% end %>  
  </div>
  <div class="tab-pane container fade" id="friends">
    <% if @user.friends.any? %>
      <%= render 'friendships/friend_index', user: @user %>  
    <% else %>
      <%= render "no_friends" %> 
    <% end %>    
  </div>
  <div class="tab-pane container fade" id="about"> 
    <%= turbo_frame_tag "profile" do %>
      <%= turbo_frame_tag "about" do %>
        <%= render "layouts/flash" %>
        <%= render @user.profile || "profiles/empty" %>
      <% end %>  
    <% end %>
  </div>
</div>

<% if @user == current_user %>
  <%= render 'layouts/right_hand_post_form' %>
<% else %>  
  <%= render 'layouts/popular_comments' %>
<% end %>  
<%= render 'layouts/newest_users' %>





