<div id="<%= dom_id post %>">
  <div class="container mt-3 mb-4 p-3 border shadow-sm rounded">
    <div class="row">
      <div class="d-flex justify-content-between">
        <%= link_to "#{post.user.username}", user_path(post.user.id),
                    class:"fw-semibold text-primary text-decoration-none" %>
        <p class="text-secondary small"><%= time_ago_in_words(post.created_at) %> ago </p>           
      </div>
      <div class="container mb-3">
        <p class="fs-5" style="word-wrap: break-word"> <%= post.body %> </p>  
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" 
            data-bs-target="#commentModal<%= post.id %>">Comment</button>
        </div>
        <div class="d-flex justify-content-start">
          <a class="text-secondary text-decoration-none" data-bs-toggle="collapse" href="#collapseComment<%= post.id%>" role="button"> 
              <%= pluralize(post.comments.count, "Comment") %></a>
        </div>
      </div>
      <div class="collapse" id="collapseComment<%= post.id %>">
        <%= render "comments/comments", post: post %>
      </div>  
    </div>
  </div>
</div>

<div class="modal" id="commentModal<%= post.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Comment</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <%= render "comments/form", post: post, parent: nil %>
      </div>
    </div>
  </div>
</div>