<div id="<%= dom_id post %>">
  <div class="container mt-3 mb-4 p-3 border shadow-sm rounded">
    <div class="row">
      <div class="d-flex justify-content-between">
        <div><%= image_tag post.user.gravatar_url(default: :mm), class:"rounded-circle me-2 gravatar-home" %>
              <%= link_to "#{post.user.username}", user_path(post.user.id),
                    class:"fw-semibold text-primary text-decoration-none" %>
        </div>            
        <p class="text-secondary small"><%= time_ago_in_words(post.created_at) %> ago </p>           
      </div>
      <div class="container mb-3">
        <p class="fs-5" style="word-wrap: break-word"> <%= post.body %> </p>  
      </div>
      <div class="d-flex justify-content-between">
          <a class="text-secondary text-decoration-none ms-2 me-3" data-bs-toggle="modal" href="#collapseReaction<%= post.id%>" role="button"> 
              <%= pluralize(post.reactions.count, "Like") unless post.reactions.nil? %></a>
          <a class=" text-secondary text-decoration-none" data-bs-toggle="collapse" href="#collapseComment<%= post.id%>" role="button"> 
              <%= pluralize(post.comments.count, "Comment") %></a>
        </div>
      <hr class="border border-1 opacity-75">  
      <div class="d-flex justify-content-around align-items-center btn-text">
        <%= render partial: "reactions/button", locals: { reactable: post } %>
        <button type="button" class="btn btn-primary text-nowrap ms-2" data-bs-toggle="modal" 
            data-bs-target="#commentModal<%= post.id %>"><ion-icon name="chatbubbles"></ion-icon> Comment</button> 
      </div>
      <div class="collapse" id="collapseComment<%= post.id %>">
        <%= render "comments/comments", post: post, cached: true %>
      </div> 

      <div class="modal" id="collapseReaction<%= post.id %>">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Liked by:</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
              <% post.reactions.includes(:user).each do |reaction| %>
                <%= render "reactions/reactor", user: reaction.user  %>
              <% end %>
            </div>   
          </div> 
        </div>      
      </div>   
    </div>
  </div>
</div>

<div class="modal" id="commentModal<%= post.id %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Comment</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <%= render "comments/form", post: post, parent: nil %>
      </div>
    </div>
  </div>
</div> 