<%= turbo_stream.prepend('posts', @post) %>

<%= turbo_stream.update "errors" do %>
  <%= render 'layouts/error_messages', object: @post %>
<% end %>  

<%= turbo_stream.update "info" do %> 
  <% if @posts %>
    <%= raw "Displaying <b>all #{@posts.total_count}</b> posts" %>
  <% end %>
<% end %>

<%= turbo_stream.update "user_post_count" do %>
  <p class="ps-2 float-start text-secondary"> <%= pluralize(current_user.posts.size, "Post") %> </p>
<% end %>

<%= turbo_stream.remove "no-posts" if current_user.posts.any? %>