<nav class="navbar navbar-expand-sm mx-auto">
  <div class="container-fluid ">
    <a class="navbar-brand fs-4 fw-bold text-light ms-2" href="/">Friend Book</a>
    <% if user_signed_in? %>
      <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon bg-light rounded"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
        <ul class="navbar-nav "> 
          <li class="nav-item">
            <%= link_to "Create Post", new_post_path,
                  class: "nav-link text-light me-2" %>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/users">
              Discover Users
            </a>
          </li>
          <li class="nav-item">
            <%= link_to user_notifications_path(current_user.id), class: "nav-link text-light" do %> 
              Notifications
              <span class="badge bg-danger rounded"><%= current_user.new_notifications.count if current_user.new_notifications.any? %></span>  
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.gravatar_url(default: :mm), class:"rounded-circle gravatar-nav"%>
            </a>
            <ul class="dropdown-menu" style="min-width:60px">
              <p class="px-3 pt-2 mt-n1 d-block mb-0" style="text-decoration: none">
                Welcome, <span class="fw-bold"><%= current_user.username.titleize %></span>!
              </p>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Your Profile", user_path(current_user.id),
                      class: "dropdown-item" %></li>
              <li><%= link_to "Settings", edit_user_registration_path,
                      class: "dropdown-item" %></li>
            </ul>
          </li>

          <%= button_to 'Logout', destroy_user_session_path, 
              class: "btn text-light", method: :delete, data: { turbo: false } %> 
        </ul>
      </div>   
    <% end %> 
  </div>
</nav>