<nav class="navbar navbar-expand-sm px-lg-5" id="top">
  <div class="container-fluid ">
    <a class="navbar-brand fs-4 fw-bold text-light ms-2 hover-border" href="/">Friend Book</a>
    <% if user_signed_in? %>
      <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon bg-light rounded"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="collapsibleNavbar">
        <div class="navbar-nav"> 
          <%= link_to "All Posts", posts_path(all_posts: true), class:"me-3 nav-link text-light hover-border" %>
          <%= link_to "Discover Users", users_path, class:"me-3 nav-link text-light hover-border" %>
          <%= link_to user_notifications_path(current_user.id), class: "me-3 nav-link text-light hover-border" do %> 
            Notifications
            <span class="badge bg-danger rounded"><%= current_user.notifications.num_of_new unless current_user.notifications.num_of_new.zero? %></span>  
          <% end %>
          <li class="nav-item dropdown">
            <a class="me-3 head-dropdown nav-link dropdown-toggle text-light pe-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.gravatar_url(default: :identicon), class:"rounded-circle gravatar-nav"%>
            </a>
            <ul class="dropdown-menu" style="min-width:60px">
              <p class="ps-3 pt-2 mt-n1 d-block mb-0">
                Welcome, <span class="fw-bold"><%= current_user.username.titleize %></span>!
              </p>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Your Profile", user_path(current_user.id),
                      class: "dropdown-item" %></li>
              <li><%= link_to "Settings", edit_user_registration_path,
                      class: "dropdown-item" %></li>
            </ul>
          </li>
          <%= button_to 'Logout', destroy_user_session_path, class: "btn ps-0 text-light hover-border", 
            method: :delete, data: { turbo: false } %> 
        </div>
      </div>   
    <% end %> 
  </div>
</nav>