<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <style>
      .text-toggle[aria-expanded=false] .text-expanded {
        display: none;
      }

      .text-toggle[aria-expanded=true] .text-collapsed {
        display: none;
      }
      
      .gravatar-nav {
        height: 25px;
        width: auto;
      }

      .gravatar-home {
        height: 40px;
        width: auto;
      }

      .gravatar-comment {
        height: 35px;
        width: auto;
      }

      .navbar {
        background: var(--bs-blue);
      }

      .profile-header {
        background-color: var(--bs-blue-100);
      }

      .post, .user, .notification {
        transition: .3s;
      }

      .post:hover, .user:hover, .notification:hover {
        box-shadow: 0 3px 11px 0 rgba(33,33,33,.2) !important;
      }

      .comment:first-child {
        -webkit-animation: bummer 1s;
    animation: bummer 1s;
    -webkit-transform: scale(0.85,0.85); 
    transform: scale(0.85,0.85);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; /* Add this so that your modal doesn't 
                                      close after the animation completes */
}

@-webkit-keyframes bummer {
    100% {
        -webkit-transform: scale(1,1); 
    }
}

@keyframes bummer {
    100% {
        transform: scale(1,1); 
    }}

      .hover-border:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
      }
      .hover-border:hover:after {
        width: 100%;
        background: white;
      }

      .like-count:hover, .comment-count:hover, .reply:hover {
        color: var(--bs-blue) !important;
      }

      .delete:hover {
        color: var(--bs-red) !important;
      }

      #about {
        width: 90%;
      }
    </style>  
  </head>

  <body>
    <%= render 'layouts/header' %>
    
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>

    <%= query_diet_widget if Rails.env.development? %>
    <div class="container">
      <div class="row">
        <div class="col"><%= yield %>
        <%= turbo_frame_tag "remote_modal" %>
        </div>  
        
        <% if user_signed_in? %>  
          <div class="col-4 mt-5 right-side d-none d-lg-inline">
            <div id="right-top"><%= yield(:right_top) %></div>

            <div id="right-bottom"><%= yield(:right_bottom) %></div>
            <div class="sticky-top text-center pt-5 pb-3"><a href="#top" data-controller="scroll-to">Go to Top</a></div>
          </div> 
        <% end %>   
      </div> 
      
    </div>
  </body>
</html>